{% extends 'base.html.twig' %} {% block title %}Students{% endblock %} {% block
searchBar %} {% endblock %} {% block body %}

<div class="container-fluid">
    <div class="row align-items-start" id="wid-1st-row">
        <div class="col">
            <label for="widget_statistics" class="wdgt"
                ><h2>Statistics</h2></label
            >
            <br />
            <div class="widget2" id="widget_statistics">1</div>
        </div>

        <div class="col">
            <label for="widget_sub" class="wdgt"><h2>Statistics</h2></label>
            <br />
            <div class="widget2" id="widget_sub">1</div>
        </div>

        <div class="col">
            <label for="widget_sub2" class="wdgt"><h2>Statistics</h2></label>
            <br />
            <div class="widget2" id="widget_sub2">1</div>
        </div>
    </div>
</div>
<br /><br /><br /><br />
<label for="widget_student" class="wdgt"><h2>Students</h2></label>
<br />
<div class="widget student_table" id="widget_student">
    <div class="notifications">
        {% for flash in app.flashes("Success") %}
        <p class="alert alert-primary">{{ flash }}</p>
        {% endfor %} {% for flash in app.flashes("Error") %}
        <p class="alert alert-danger">{{ flash }}</p>
        {% endfor %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form action="#" method="POST">
                    <input
                        type="search"
                        class="form-control"
                        name="title"
                        placeholder="Enter student name"
                        required
                    />
                </form>
            </div>
            <div class="col">
                <a
                    name=""
                    id="addBtn"
                    class="btn"
                    href="{{ path('student_add') }}"
                    role="button"
                    ><span class="type" id="add">Add new Student</span></a
                >
            </div>
            <div class="col">
                <span class="type">Sort by ID:</span>
                <a name="" id="" class="btn" href="#" role="button"
                    ><img
                        src="{{ asset('icons/up.jpg') }}"
                        width="20px"
                        height="20px"
                        alt=""
                /></a>
                <a name="" id="" class="btn" href="#" role="button"
                    ><img
                        src="{{ asset('icons/down.jpg') }}"
                        width="20px"
                        height="20px"
                        alt=""
                /></a>
            </div>
            <div class="col">
                <span class="type">Sort by Name:</span>
                <a name="" id="" class="btn" href="#" role="button"
                    ><img
                        src="{{ asset('icons/up.jpg') }}"
                        width="20px"
                        height="20px"
                        alt=""
                /></a>
                <a name="" id="" class="btn" href="#" role="button"
                    ><img
                        src="{{ asset('icons/down.jpg') }}"
                        width="20px"
                        height="20px"
                        alt=""
                /></a>
            </div>
            <div class="col">
                <span class="type">Sort by Major:</span>
                <a name="" id="" class="btn" href="#" role="button"
                    ><img
                        src="{{ asset('icons/up.jpg') }}"
                        width="20px"
                        height="20px"
                        alt=""
                /></a>
                <a name="" id="" class="btn" href="#" role="button"
                    ><img
                        src="{{ asset('icons/down.jpg') }}"
                        width="20px"
                        height="20px"
                        alt=""
                /></a>
            </div>
        </div>
    </div>
    <div class="tbl">
        <table class="table">
            <thead>
                <tr id="head">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Major</th>
                    <th>Class</th>
                    <th>Image</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr class="entire_row">
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.dob | date('d-m-Y') }}</td>
                    <td>{{ student.major }}</td>
                    <td>
                        {% if student.classFGW %}
                        {{ student.classFGW.name }}
                        {% endif %}
                    </td>
                    <td>
                        <img
                            src="{{ asset('students/' ~ student.image ~ '.jpg') }}"
                            alt=""
                            height="150px"
                            width="auto"
                        />
                    </td>
                    <td>
                        <a
                            name=""
                            id="edit"
                            class="btn"
                            href="{{
                                path('student_edit', { id: student.id })
                            }}"
                            role="button"
                            >Edit</a
                        >
                        <br />
                        <a
                            name=""
                            id="delete"
                            class="btn"
                            href="{{
                                path('student_delete', { id: student.id })
                            }}"
                            role="button"
                            onclick="return confirm('Are you sure?')"
                            >Delete</a
                        >
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
