{% extends 'base.html.twig' %}

{% block title %}Student
{% endblock %}
{% block sidebar %}
	<!-- Sidebar -->
	<div class="l-navbar" id="nav-bar">
		<nav class="nav">
			<div>
				<a href="{{ path('homepage') }}" class="nav_logo">
					<img src="{{ asset('logo/logo_blue.png') }}" alt=""/>
				</a>
				<div class="nav_list">
					<hr/>
					<br>
					<img src="{{ asset('students/' ~ student.image) }}" class="avatar" alt=""/>
					<br>
					<br>
					<a href="{{ path('user_edit') }}" class="nav_link">
						Edit
					</a>
				</a>
				<hr id="btmline"/>
			</div>
		</div>
		<a href="{{ path('app_logout') }}" class="nav_link">Log Out</a>
	</nav>
</div>{% endblock %}{% block body %}
<style>
	.avatar {
		width: 80px;
		height: 80px;
		border-radius: 40px;
		margin-left: 8px;w
	}

	.personal .spn img {
		height: 400px;
		width: auto;
		border-radius: 30px;
		margin: 12px 0 12px 12px;
	}

	.personal .spn {
		width: 40%;
	}

	.widget {
		box-shadow: none;
		padding: 40px;
		transition-duration: 0.5s;
		margin-bottom: 50px;
		min-height: 320px;
	}

	.widget:hover {
		box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
		z-index: 100;
	}

	.tbl {
		min-height: 130px;
		overflow: scroll;
		margin-bottom: 0;
	}

	.personal {
		overflow: scroll;
		margin-bottom: 0;
	}

	.table #tbl {
		margin-bottom: 30px;
	}

	#personal table {
		border: none;
	}
	
	#grades {
		padding: 20px;
		margin-right: 150px;
	}

	p {
		font-size: 20px;
	}

	.personal td {
		padding: 10px 20px 10px 0;
		text-align: left;
	}

	#personalImg {
		width: fit-content;
	}

	.stdPic {
		margin-top: 10px;
		border-radius: 40px;
	}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="widget" id="widget2">
						<div class="row">
							<div class="col" id="personal">
								<table class="tbl">
									<h1>{{ student.name }}</h1>
									<tr>
										<td>Major</td>
										<td>:</td>
										<td>{{ student.major }}</td>
									</tr>
									{% if student.classFGW %}
										<tr>
											<td>Class</td>
											<td>:</td>
											<td>{{ student.classFGW.name }}</td>
										</tr>
									{% endif %}
									<tr>
										<td>Date of Birth</td>
										<td>:</td>
										<td>{{ student.dob | date('d-m-Y') }}</td>
									</tr>
									<tr>
										<td>GPA</td>
										<td>:</td>
										<td>{{ gpa }}</td>
									</tr>
								</table>
							</div>
							<div class="col">
								<img src="{{ asset('students/' ~ student.image) }}" height="220px" alt="" class="stdPic">
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="widget">
						<h1>Ongoing Classes</h1>
						<div class="tbl">
							<table class="table" id="tbl">
								<thead>
									<tr id="head">
										<th>Subject ID</th>
										<th>Subject Name</th>
										<th>Class</th>
										<th>Semester</th>
									</tr>
								</thead>
								<tbody>
									{% for class in ongoing %}
										<tr class="entire_row">
											<td>{{ class.subject.id }}</td>
											<td>{{ class.subject.name }}</td>
											<td>{{ class.classFGW.name }}</td>
											<td>{{ class.semester }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="widget">
				<h1>Grades</h1>
				<div class="tbl">
					<table class="table" id="tbl">
						<thead>
							<tr id="head">
								<th>Subject ID</th>
								<th>Subject Name</th>
								<th>Class</th>
								<th>Semester</th>
								<th>Letter Grade</th>
								<th>Number Grade</th>
							</tr>
						</thead>
						<tbody>
							{% for grade in grades %}
								<tr class="entire_row">
									<td>{{ grade.subject.id }}</td>
									<td>{{ grade.subject.name }}</td>
									<td>{{ grade.semester }}</td>
									<td>{{ grade.classFGW.name }}</td>
									<td>{{ grade.letterGrade }}</td>
									<td>{{ grade.numberGrade }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br>
<div class="row">
	<div class="col">
		<div class="col"></div>
	</div>
	<br><br>
</div>{% endblock %}
