{% form_theme UserForm 'bootstrap_5_layout.html.twig' %}
{# kế thừa file layout (template) #}
{%
extends "user/header.html.twig" %}

{% block title %}
	Edit
{% endblock %}

{% block body %}
	<style>
		.container-fluid {
			position: absolute;
			left: 0;
			min-height: 800px;
		}

		.container-fluid .row {
			width: 100%;
		}

		.widget {
			margin-top: -10px;
			margin-left: 70%;
			width: fit-content;
			height: 820px;
			padding: 42px 50px;
			z-index: 10;
			border: none;
			background-color: white;
		}

		#student_edit_Save {
			margin-top: 8px;
		}

		.subTxt {
			color: grey;
		}

		#submit {
			margin-top: -2px;
			background: rgb(2, 0, 36);
			background-size: 300% 100%;
			color: white;
			transition-duration: 0.6s;
			transition: all 0.4s ease-in-out;
			background-image: linear-gradient(90deg, #2B32B2 0%, #1488CC 100%);
			border: none;
			padding: 20px;
		}

		#cancel {
			margin-top: 22px;
			background: rgb(2, 0, 36);
			background-size: 300% 100%;
			color: white;
			transition-duration: 0.6s;
			transition: all 0.4s ease-in-out;
			background-image: linear-gradient(90deg, #d53369 0%, #cbad6d 100%);
			border: none;
			padding: 20px;
		}

		#submit:hover {
			background-position: 100% 0;
		}

		#cancel:hover {
			background-position: 100% 0;
		}

		.rem {
			margin-top: -25px;
		}

		.ckbx {
			padding: 2px;
			height: 30px;
			width: 30px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
		}
		.round {
			position: relative;
		}

		.round label {
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 50%;
			cursor: pointer;
			height: 28px;
			left: 0;
			position: absolute;
			top: 0;
			width: 28px;
		}

		.round label:after {
			border: 2px solid #fff;
			border-top: none;
			border-right: none;
			content: "";
			height: 6px;
			left: 7px;
			opacity: 0;
			position: absolute;
			top: 8px;
			transform: rotate(-45deg);
			width: 12px;
		}

		.round input[type="checkbox"] {
			visibility: hidden;
		}

		.round input[type="checkbox"]:checked + label {
			background-color: #1488CC;
			border-color: #26a0da;
		}

		.round input[type="checkbox"]:checked + label:after {
			opacity: 1;
		}

		h1 {
			margin-left: 8px;
			color: #2B32B2;
			font-family: SF-bold;
			margin-bottom: 16px;
		}

		p {
			margin-left: 8px;
			margin-bottom: 28px;
		}

		.remember {
			position: absolute;
			margin-left: 36px;
			margin-top: -8px;
		}

		.widget {
			min-height: 700px;
		}
	</style>
	<div class="container-fluid col-md-6 text-center ">
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<div class="widget">
					{% for flash in app.flashes("Error") %}
						<p class="alert alert-danger">{{ flash }}</p>
					{% endfor %}
					<h1>Edit User Information</h1>
					<hr>
					<br> {{ form_start(UserForm) }} {{ form_row(UserForm.username) }}
					<div id="pwd"> {{ form_row(UserForm.plainPassword)}}
					</div> {{ form_row(UserForm.firstName) }} {{ form_row(UserForm.lastName) }}
					{% if is_granted('ROLE_ADMIN') %} {{ form_row(UserForm.roles)}}
					{% endif %}
					<input type="submit" value="Save" id="student_edit_Save" class="inp"> {{ form_end(UserForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
